.t1 {
    border-collapse: collapse;
}

tr.t2 td {
    border: 2px solid;
    font-weight: 700;
}
tr.t3 td {
    border: 2px solid;
    font-weight: 400;
}

.empty {
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;

}
